<!doctype html>
<html>
  <head>
    <title>Zero Motorcycle Charging Status</title>
  </head>
  <body>
    <center>
      <table cellpadding="15" border="3" width="90%">
        <tr>
          <td align="center">
            <table border="0">
              <tr><td align="right"><b>Timestamp:</b></td><td>{{time}}</td></tr>
              <tr><td align="right"><b>Time to Full Charge:</b></td><td>{{time_remaining}}</td></tr>
              <tr><td align="right"><b>Min Battery Pack Temp:</b></td><td>{{min_temp}} °F</td></tr>
              <tr><td align="right"><b>Max Battery Pack Temp:</b></td><td>{{max_temp}} °F</td></tr>
              <tr><td align="right"><b>Battery Voltage:</b></td><td>{{voltage}}V</td></tr>
              <tr><td align="right"><b>Charging Amps:</b></td><td>{{amps}}</td></tr>
              <tr><td align="right"><b>Charging Watts:</b></td><td>{{watts}}</td></tr>
              <tr><td align="right"><b>State of Charge:</b></td><td>{{percentage}}%</td></tr>
              <tr><td align="right"><b>Cell Voltage Min:</b></td><td>{{cell_voltage_min}}V</td></tr>
              <tr><td align="right"><b>Cell Voltage Max:</b></td><td>{{cell_voltage_max}}V</td></tr>
              <tr><td align="right"><b>Cell Imbalance:</b></td><td>{{imbalance}}mV</td></tr>
              <tr><td align="right"><b>Charge Cycles:</b></td><td>{{cycles}}</td></tr>
              <tr><td align="right"><b>Total kWh Used:</b></td><td>{{tot_kwh}}</td></tr>
              <tr><td align="right"><b>Avg. Wh/mile:</b></td><td>{{avg_wh}}</td></tr>
              <tr><td align="center" colspan="2">
                  <font color="red">
                      {% for para in warnings %}
                      <p><b>{{para}}</b></p>
                      {% endfor %}
              </font></td></tr>
            </table>
          </td>
        </tr>
      </table>
    </center>
  </body>
</html>
