<!doctype html>
<html>
  <head>
    <title>Zero Motorcycle Information</title>
  </head>
  <body>
    <center>
      <table cellpadding="15" border="3" width="90%">
        <tr>
          <td align="center">
            <table border="0">
              <tr><td align="right"><b>Model:</b></td><td>{{name}}</td></tr>
              <tr><td align="right"><b>VIN:</b></td><td>{{vin}}</td></tr>
              <tr><td align="right"><b>Odometer:</b></td><td>{{odometer}} miles</td></tr>
              <tr><td align="right"><b>Trip 1:</b></td><td>{{trip1}} miles</td></tr>
              <tr><td align="right"><b>Trip 2:</b></td><td>{{trip2}} miles</td></tr>
            </table>
          </td>
        </tr>
      </table>
    </center>
  </body>
</html>
